{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:perfectionist/recommended-line-length",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier", "unused-imports", "perfectionist", "unicorn"],
  "rules": {
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "react/jsx-no-useless-fragment": "error",
    "react/react-in-jsx-scope": "off",
    "react/self-closing-comp": "error",
    "react/jsx-fragments": "error",
    "unicorn/no-lonely-if": "error",
    "unicorn/better-regex": "error",
    "unicorn/catch-error-name": "error"
  },
  "ignorePatterns": [
    "node_modules",
    ".next",
    "out",
    "public",
    "tailwind.config.ts",
    "social.ts"
  ]
}
